.hero {
  background-color: var(--c-black);
  background-position: center;
  background-size: cover;
  color: var(--c-white);
  height: 36rem;
  position: relative;

  &::after {
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.heroSmall {
  height: 26rem;

  h1 {
    text-align: center;
  }
}

.heroWrap {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 100;
}
