.hero {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 30rem;
  position: relative;

  &::after {
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.heroSmall {
  height: 22rem;

  h1 {
    text-align: center;
  }
}

.heroMobi {
  @media (min-width: 768px) {
    background-image: none !important;
  }
}

.heroWrap {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 100;
}
