.tableWrap {
  display: flex;
  flex-direction: column;
}

.tableSummary {
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.tableItem {
  align-items: center;
  border: 1px solid var(--c-gray-200);
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  height: 6rem;
  margin-bottom: 1rem;

  &:hover {
    background-color: var(--c-gray-200);
    border: 1px solid var(--c-gray-400);
  }
}

.tableItemImage {
  border-radius: 0.25rem;
  height: 100%;
  margin-right: 2rem;
  min-width: 4rem;
  overflow: hidden;
  width: 4rem;

  img {
    height: 100%;
    width: 100%;
  }
}

.tableItemInfo {
  p {
    &:first-of-type {
      color: var(--c-gray-600);
    }

    &:nth-of-type(2) {
      font-size: 1rem;
    }

    &:last-of-type {
      font-weight: bold;
    }
  }
}
