.header {
  background-color: black;
  color: white;
  height: 6rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.headerWrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: orange;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}
