.movieHero {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.movieHeroInfo {
  margin-top: auto;

  p {
    margin-top: 0.75rem;

    span {
      margin-right: 0.75rem;

      &:not(:last-of-type) {
        &::after {
          content: '|';
          margin-left: 0.75rem;
        }
      }
    }
  }
}

.movieBase {
  display: flex;
  flex-direction: column;

  & > div {
    &:first-of-type {
      align-items: center;
      display: flex;
      margin-bottom: 2rem;
      margin-right: 2rem;
      width: 100%;

      img {
        border-radius: 0.5rem;
        width: 100%;
      }

      @media (min-width: 768px) {
        width: 14rem;
      }
    }

    &:last-of-type {
      flex: 1;

      p {
        max-width: 36rem;
      }
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
