.movieHero {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.movieHeroInfo {
  margin-top: auto;

  p {
    margin-top: 0.75rem;

    span {
      margin-right: 0.75rem;

      &:not(:last-of-type) {
        &::after {
          content: '|';
          margin-left: 0.75rem;
        }
      }
    }
  }
}
