.personHero {
  color: white;
  display: flex;
  height: 100%;
}

.personHeroImage {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    height: 100%;
    margin-right: 2rem;
    width: 18rem;

    img {
      border: 2px solid orange;
      border-radius: 0.75rem;
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }
}

.personHeroInfo {
  margin-top: auto;

  p:not(:first-of-type) {
    color: var(--c-gray-400);
  }
}
