:root {
  --c-black: #000;
  --c-white: #fff;

  --c-gray-200: #eeeeee;
  --c-gray-300: #e0e0e0;
  --c-gray-400: #bdbdbd;
  --c-gray-600: #757575;
  --c-gray-900: #212121;

  --bs-base: 0 10px 6px -6px var(--c-gray-600);

  --bp-md: 768px;
}
