h1,
h2,
h3 {
  margin-bottom: 1.5rem;
}

h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}

h1 {
  span {
    color: orange;
    font-size: 0.75em;
  }

  &.lead {
    font-size: 2rem;

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }
}

p {
  font-size: 0.875rem;
  font-weight: 300;

  &.lead {
    font-weight: bold;
    margin: 1rem 0 0.5rem;
  }
}
